<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjR0BsIFjv_xT3WEvjlIjakJ88A1UJ4iU</string>
	<key>GCM_SENDER_ID</key>
	<string>332734361468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>ml-revised</string>
	<key>STORAGE_BUCKET</key>
	<string>ml-revised.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332734361468:ios:f3c3dd5b6ec7e52749fef9</string>
	<key>DATABASE_URL</key>
	<string>https://ml-revised-default-rtdb.firebaseio.com</string>
</dict>
</plist>